
#related-posts{
	margin: 0 0 15px;
	border: 1px solid #E0E0E0;
	-moz-box-shadow: 0 2px 4px #E7E7E7;
	-webkit-box-shadow: 0 2px 4px #E7E7E7;
	padding: 0 10px 15px;
	box-shadow: 0 2px 4px #E7E7E7;
	background-color: #FFF;
	overflow: hidden;
}
.rp-loading {
	width: 100%;
	min-height: 150px;
	background: transparent url(http://2.bp.blogspot.com/-PfP0K_VdDW0/UYl9oBf2atI/AAAAAAAAI-k/NL74VAi-oRw/s000/progress_ani.gif) no-repeat center;
	display: block;
	text-indent: -9999px;
}