@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,700");
/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/partials/_layout.scss */
.inner-wrap {
  width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  /* line 8, ../scss/partials/_layout.scss */
  #outer-wrapper {
    width: 99%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 983px) {
  /* line 14, ../scss/partials/_layout.scss */
  #outer-wrapper {
    width: 754px;
  }

  /* line 17, ../scss/partials/_layout.scss */
  #main-wrapper {
    width: 60%;
  }

  /* line 20, ../scss/partials/_layout.scss */
  #sidebar-wrapper {
    width: 40%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 26, ../scss/partials/_layout.scss */
  #outer-wrapper {
    width: 500px;
  }

  /* line 29, ../scss/partials/_layout.scss */
  #main-wrapper, #sidebar-wrapper {
    float: none;
    padding: 10px;
    width: 100%;
  }

  /* line 35, ../scss/partials/_layout.scss */
  #feed-q-input {
    float: none;
  }

  /* line 38, ../scss/partials/_layout.scss */
  #search-result-container {
    width: 100%;
  }

  /* line 41, ../scss/partials/_layout.scss */
  #header .description {
    padding-bottom: 30px;
  }

  /* line 44, ../scss/partials/_layout.scss */
  #mobilenav {
    display: block;
    line-height: 35px;
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    color: #FFF;
  }

  /* line 54, ../scss/partials/_layout.scss */
  #navinti {
    display: none;
    width: 90%;
    float: none;
    left: 5%;
    right: 5%;
    background-color: #202020;
    height: auto;
    position: absolute;
    -moz-box-shadow: 0 0 5px #494949;
    -webkit-box-shadow: 0 0 5px #494949;
    box-shadow: 0 0 5px #494949;
  }
  /* line 66, ../scss/partials/_layout.scss */
  #navinti li {
    display: block;
    float: none;
  }
  /* line 70, ../scss/partials/_layout.scss */
  #navinti ul {
    width: 100%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
  }

  /* line 79, ../scss/partials/_layout.scss */
  #mobilenav::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 7px 6px;
    border-style: solid;
    border-color: #FFF transparent transparent transparent;
    right: 10px;
    top: 60%;
  }
  /* line 90, ../scss/partials/_layout.scss */
  #mobilenav::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 7px 6px;
    border-style: solid;
    border-color: #FFF transparent transparent transparent;
    right: 10px;
    top: 60%;
    border-color: transparent transparent #FFF transparent;
    top: 0;
  }
}
@media only screen and (max-width: 499px) {
  /* line 107, ../scss/partials/_layout.scss */
  #outer-wrapper {
    width: 430px;
  }

  /* line 110, ../scss/partials/_layout.scss */
  .comments .comments-content .comment-replies {
    margin-left: 8px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 116, ../scss/partials/_layout.scss */
  #outer-wrapper {
    width: 290px;
  }
}
@media only screen and (max-width: 290px) {
  /* line 122, ../scss/partials/_layout.scss */
  #outer-wrapper {
    width: 100%;
  }
}
/* Header
-----------------------------------------------
*/
/* line 10, ../scss/partials/_header.scss */
#header-wrapper {
  margin: 0 auto;
  padding: 10px;
  background-color: #FFF;
  color: #292929;
  height: 250px;
  background: url('http://demos.techumber.com/cdn/asserts/img/cloud.jpg?1413621075');
  position: fixed;
  top: 0;
  width: 100%;
  background-position: 0 0;
}

/* line 24, ../scss/partials/_header.scss */
#header {
  text-align: center;
  color: #202020;
  margin: 0;
  float: left;
  position: relative;
  top: 45px;
  left: 50%;
  margin-left: -100px;
}
/* line 34, ../scss/partials/_header.scss */
#header h1, #header p {
  margin: 0;
  padding: 0 5px;
  line-height: 1.2em;
  text-transform: uppercase;
}
/* line 40, ../scss/partials/_header.scss */
#header a {
  color: #202020;
  text-decoration: none;
  width: 200px;
  float: left;
}
/* line 45, ../scss/partials/_header.scss */
#header a:hover {
  color: #41B7D8;
}
/* line 49, ../scss/partials/_header.scss */
#header .description {
  margin: 0 5px;
  padding: 0 20px 15px;
  line-height: 1.4em;
  text-transform: capitalize;
  color: #5E5C5C;
}

/* line 60, ../scss/partials/_header.scss */
.social-icons {
  text-align: center;
  position: relative;
  top: 70px;
}
/* line 64, ../scss/partials/_header.scss */
.social-icons a {
  margin: 3px;
  padding: 2px 1.5px;
  transition: all 0.25s;
}
/* line 68, ../scss/partials/_header.scss */
.social-icons a:hover img {
  opacity: 0.7;
}
/* line 72, ../scss/partials/_header.scss */
.social-icons img {
  height: 50px;
}

/* line 77, ../scss/partials/_header.scss */
.logocircle {
  -moz-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -moz-border-radius: 110px;
  -webkit-border-radius: 110px;
  border-radius: 110px;
  background: transparent;
  border: 5px solid rgba(0, 0, 0, 0.9);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 90px;
  opacity: .9;
  width: 90px;
  top: 45px;
  left: 50%;
  position: relative;
  margin-left: -102px;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Navigation
----------------------------------------------- */
/* line 5, ../scss/partials/_nav.scss */
#nav-wrapper.fixed-nav {
  z-index: 99999;
  position: fixed;
  top: 0;
}

/* line 13, ../scss/partials/_nav.scss */
#search-form-feed {
  padding: 0;
  width: 240px;
  float: right;
  margin-top: 3px;
  position: relative;
  margin-right: 5px;
}

/* line 22, ../scss/partials/_nav.scss */
#mobilenav {
  display: none;
}

/* line 26, ../scss/partials/_nav.scss */
#nav-wrapper {
  width: 100%;
  background: #333;
  height: 50px;
  position: relative;
  top: 250px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  line-height: 50px;
}

/* line 47, ../scss/partials/_nav.scss */
#navinti {
  height: 35px;
  margin: 0;
  padding: 0;
  float: left;
}
/* line 52, ../scss/partials/_nav.scss */
#navinti li {
  list-style: none;
  display: inline-block;
  zoom: 1;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}
/* line 60, ../scss/partials/_nav.scss */
#navinti li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  padding: 0 15px;
  font-weight: normal;
}
/* line 68, ../scss/partials/_nav.scss */
#navinti li:hover > a {
  border-bottom: 1px solid #FFFFFF;
}
/* line 72, ../scss/partials/_nav.scss */
#navinti ul {
  position: absolute;
  z-index: 10;
  padding: 0;
  list-style: none;
  width: 170px;
  background-color: #F8F8F8;
  -moz-box-shadow: 0 0 5px #494949;
  -webkit-box-shadow: 0 0 5px #494949;
  box-shadow: 0 0 5px #494949;
  display: none;
}
/* line 84, ../scss/partials/_nav.scss */
#navinti li:hover ul.hidden {
  display: block;
}
/* line 88, ../scss/partials/_nav.scss */
#navinti ul a {
  color: #494949;
}
/* line 90, ../scss/partials/_nav.scss */
#navinti ul a:hover {
  background-color: #fff;
}
/* line 94, ../scss/partials/_nav.scss */
#navinti ul li {
  float: none;
  display: block;
}
/* line 99, ../scss/partials/_nav.scss */
#navinti li.dgnsub > a {
  padding: 0 20px 0 15px;
}
/* line 101, ../scss/partials/_nav.scss */
#navinti li.dgnsub > a::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #FFF transparent transparent;
  position: absolute;
  border-width: 5px 4px;
  right: 7px;
  top: 16px;
}

/* line 116, ../scss/partials/_nav.scss */
#search-form-feed {
  padding: 0;
  width: auto;
  float: right;
  margin-top: 3px;
  position: relative;
  margin-right: 5px;
  margin-top: 10px;
}
/* line 124, ../scss/partials/_nav.scss */
#search-form-feed form {
  float: left;
  width: 0;
  overflow: hidden;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 130, ../scss/partials/_nav.scss */
#search-form-feed:hover form {
  width: 250px;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* line 138, ../scss/partials/_nav.scss */
.search-btn {
  width: 50px;
  height: 31px;
  background: url("http://developer.android.com/assets/images/icon_search.png") no-repeat;
  float: left;
  cursor: pointer;
}

/* line 146, ../scss/partials/_nav.scss */
#feed-q-input {
  display: block;
  width: 100%;
  height: 29px;
  color: #fff;
  margin: 0;
  border: 0;
  font-size: 15px;
  padding: 0 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: left;
  background: transparent;
  border-bottom: 1px solid #565656;
}
/* line 159, ../scss/partials/_nav.scss */
#feed-q-input:focus {
  color: #565656;
  outline: none;
}

/* line 165, ../scss/partials/_nav.scss */
#search-result-container {
  width: 300px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  padding: 10px;
  right: 0;
  margin: 0;
  top: 42px;
  display: none;
  font-size: 11px;
  background: #FFF;
  text-transform: none;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
/* line 184, ../scss/partials/_nav.scss */
#search-result-container li {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  word-wrap: break-word;
  font: normal normal 10px Verdana,Geneva,sans-serif;
  color: #141414;
  background-color: #FFF;
  text-transform: none;
}
/* line 194, ../scss/partials/_nav.scss */
#search-result-container li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 11px;
  display: block;
  line-height: 14px;
  padding: 0;
  font-weight: 700;
}
/* line 204, ../scss/partials/_nav.scss */
#search-result-container mark {
  background-color: #FF0;
  color: #000;
}
/* line 208, ../scss/partials/_nav.scss */
#search-result-container h4 {
  margin: 0 0 10px;
  font: normal bold 12px;
  color: #000;
}
/* line 213, ../scss/partials/_nav.scss */
#search-result-container ol {
  margin: 0 0 10px;
  padding: 0;
  overflow: hidden;
  height: 450px;
}
/* line 219, ../scss/partials/_nav.scss */
#search-result-container:hover ol {
  overflow: auto;
}
/* line 222, ../scss/partials/_nav.scss */
#search-result-container li img {
  display: block;
  float: left;
  margin: 0 5px 1px 0;
  padding: 2px;
  border: 1px solid #D1D1D1;
}

/* line 231, ../scss/partials/_nav.scss */
#search-result-loader {
  top: 100%;
  position: absolute;
  z-index: 999;
  width: 100%;
  line-height: 30px;
  color: #2E2E2E;
  padding: 0 10px;
  background-color: #FFF;
  border: 1px solid #DBDBDB;
  margin: 0;
  overflow: hidden;
  display: none;
  text-transform: capitalize;
}

/* line 248, ../scss/partials/_nav.scss */
#search-result-container p {
  margin: 5px 0;
}
/* line 251, ../scss/partials/_nav.scss */
#search-result-container .close {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
  border-radius: 9999px;
  width: 13px;
  height: 13px;
  text-indent: 1px;
  background-color: #C20404;
  line-height: 12px;
}

/* line 2, ../scss/partials/_side.scss */
#sidebar-wrapper {
  width: 30%;
  float: right;
  word-wrap: break-word;
  /* fix for long text breaking sidebar float in IE */
  overflow: hidden;
  /* fix for long non-text content breaking IE sidebar float */
}
/* line 9, ../scss/partials/_side.scss */
#sidebar-wrapper .widget-content {
  padding: 0;
  margin: 10px;
}

/* line 15, ../scss/partials/_side.scss */
.email-subscribe {
  padding: 10px 20px;
  overflow: hidden;
  background: #fff;
}
/* line 19, ../scss/partials/_side.scss */
.email-subscribe h6 {
  font-size: 23px;
  margin-bottom: 0.4em;
}
/* line 24, ../scss/partials/_side.scss */
.email-subscribe input[type=text] {
  width: 68%;
  border: 1px solid #ccc;
  padding: 5px;
  color: #333;
  float: left;
  margin-right: 2px;
  outline: none;
}
/* line 33, ../scss/partials/_side.scss */
.email-subscribe input[type=submit] {
  width: 26%;
  float: left;
  padding: 5px;
  background: #41B7D8;
  color: #fff;
  border: 0;
  line-height: 18px;
  cursor: pointer;
}
/* line 42, ../scss/partials/_side.scss */
.email-subscribe input[type=submit]:hover {
  background: #000;
}
/* line 47, ../scss/partials/_side.scss */
.email-subscribe small {
  font-weight: bold;
  color: #333;
}

/* Sidebar Content
----------------------------------------------- */
/* line 59, ../scss/partials/_side.scss */
.sidebar {
  color: #666;
  line-height: 1.5em;
}
/* line 62, ../scss/partials/_side.scss */
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 67, ../scss/partials/_side.scss */
.sidebar li {
  margin: 0;
  line-height: 1.5em;
  border-bottom: 1px dashed;
  padding: 5px;
}
/* line 73, ../scss/partials/_side.scss */
.sidebar .widget {
  margin: 0 0 1.5em;
  padding: 0 0 1.5em;
}

/* line 81, ../scss/partials/_side.scss */
#sidebar-wrapper {
  padding: 10px 10px 0 0;
}
/* line 83, ../scss/partials/_side.scss */
#sidebar-wrapper h2 {
  color: #363636;
  padding: 5px 0;
  margin: 0 0 10px;
  border-bottom: 4px solid #363636;
  text-transform: uppercase;
  font-size: 1.3rem;
  position: relative;
  font-weight: bold;
}

/* line 96, ../scss/partials/_side.scss */
.sidebar .widget {
  background-color: #FFF;
  padding: 5px 10px;
  border: 1px solid #E0E0E0;
  -moz-box-shadow: 0 2px 4px #E7E7E7;
  -webkit-box-shadow: 0 2px 4px #E7E7E7;
  box-shadow: 0 2px 4px #E7E7E7;
}

/* line 105, ../scss/partials/_side.scss */
#sidebar-wtengah {
  background-color: #FFF;
  padding: 5px 10px;
  border: 1px solid #E0E0E0;
  -moz-box-shadow: 0 2px 4px #E7E7E7;
  -webkit-box-shadow: 0 2px 4px #E7E7E7;
  box-shadow: 0 2px 4px #E7E7E7;
}
/* line 112, ../scss/partials/_side.scss */
#sidebar-wtengah .sidebar .widget {
  background-color: transparent;
  padding: 0;
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 120, ../scss/partials/_side.scss */
#sidebar-wtengah .widget:last-child h2 {
  margin: 0;
}
/* line 122, ../scss/partials/_side.scss */
#sidebar-wtengah .widget:last-child h2.active {
  margin: 0 0 10px;
}
/* line 126, ../scss/partials/_side.scss */
#sidebar-wtengah .sidebar .widget {
  margin: 0 0 5px;
}
/* line 130, ../scss/partials/_side.scss */
#sidebar-wtengah h2::after {
  content: "";
  width: 0;
  height: 0;
  border-width: 7px 6px;
  border-style: solid;
  border-color: #363636 transparent transparent;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 9px;
}
/* line 142, ../scss/partials/_side.scss */
#sidebar-wtengah h2.active::after {
  border-color: transparent transparent #363636;
  margin-top: -9px;
}

/* line 149, ../scss/partials/_side.scss */
.BlogArchive #ArchiveList ul li {
  padding: 0 0 0 15px;
}

/* line 153, ../scss/partials/_side.scss */
#sidebar-wtengah h2 {
  border: 0;
  background-color: #EBEBEB;
  margin: 0;
  padding: 0 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
}

/* Footer
----------------------------------------------- */
/* line 5, ../scss/partials/_footer.scss */
#footer-wrapper {
  text-align: center;
  background-color: #333;
  position: relative;
  top: 250px;
}
/* line 10, ../scss/partials/_footer.scss */
#footer-wrapper a {
  color: #fff;
}

/* line 17, ../scss/partials/_footer.scss */
#kredit {
  padding: 5px;
  background-color: #333;
  color: #FFF;
  overflow: hidden;
}

/* line 24, ../scss/partials/_footer.scss */
.botleft {
  float: left;
}

/* line 28, ../scss/partials/_footer.scss */
.botright {
  float: right;
}

/* line 32, ../scss/partials/_footer.scss */
img {
  max-width: 100%;
}

/* line 38, ../scss/partials/_footer.scss */
.foot-nav ul {
  margin: 0;
  padding: 0;
}
/* line 42, ../scss/partials/_footer.scss */
.foot-nav li {
  list-style: none;
  float: left;
  padding-right: 10px;
  text-transform: lowercase;
}

/*Real home*/
/* line 3, ../scss/partials/_index.scss */
.index .blog-posts.hfeed {
  overflow: hidden;
}
/* line 7, ../scss/partials/_index.scss */
.index .post {
  float: left;
  width: 45%;
  margin: 0 0 15px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #c2c2c2;
}
/* line 20, ../scss/partials/_index.scss */
.index .post:hover {
  -moz-box-shadow: 0 2px 5px #CACACA;
  -webkit-box-shadow: 0 2px 5px #CACACA;
  box-shadow: 0 2px 5px #CACACA;
}
/* line 26, ../scss/partials/_index.scss */
.index .post .thumbx img {
  border: 0;
  width: 100%;
}
/* line 30, ../scss/partials/_index.scss */
.index .post .post-labels {
  text-transform: lowercase;
}
/* line 34, ../scss/partials/_index.scss */
.index .post h2.post-title {
  padding: 4px 8px 0;
  margin: 0 0 5px;
  font-size: 160%;
}
/* line 38, ../scss/partials/_index.scss */
.index .post h2.post-title a {
  color: #0F0F0F;
}
/* line 41, ../scss/partials/_index.scss */
.index .post h2.post-title a:hover {
  color: #4ECDC4;
}
/* line 48, ../scss/partials/_index.scss */
.index .post-body p {
  margin: 0;
  padding: 0 8px;
}
/* line 54, ../scss/partials/_index.scss */
.index .post .jump-link {
  position: absolute;
  bottom: -25px;
  right: 5px;
  line-height: 25px;
  padding: 0 10px;
  background-color: #EBEBEB;
  display: none;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  -moz-box-shadow: inset 0 2px 4px #D1CACA;
  -webkit-box-shadow: inset 0 2px 4px #D1CACA;
  box-shadow: inset 0 2px 4px #D1CACA;
}
/* line 64, ../scss/partials/_index.scss */
.index .post .jump-link a:hover {
  color: black;
  text-decoration: none;
}
/* line 69, ../scss/partials/_index.scss */
.index .post .thumbx {
  display: block;
  padding: 5px;
  background-color: #F0F0F0;
  position: relative;
  border-bottom: 1px solid #DFDFDF;
}
/* line 75, ../scss/partials/_index.scss */
.index .post .thumbx::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(http://1.bp.blogspot.com/-EX2YR9llSBE/UYl9pMDGVUI/AAAAAAAAI-w/UrGqdmtCvp8/s000/overlay.png);
  top: 0;
  background-position: 100% 0;
  background-repeat: no-repeat;
  left: 0;
}
/* line 90, ../scss/partials/_index.scss */
.index .post-body {
  margin-bottom: 20px;
}
/* line 94, ../scss/partials/_index.scss */
.index .post img.noimage {
  height: 100px;
}
/* line 98, ../scss/partials/_index.scss */
.index a.loadpost {
  display: block;
  width: 320px;
  margin: 0 auto;
  text-decoration: none;
  background-color: #EEE;
  line-height: 35px;
  border: 1px solid #D3D0D0;
  border-radius: 3px;
  box-shadow: 0 0 3px #E7E7E7,inset 0 0 2px white;
}
/* line 110, ../scss/partials/_index.scss */
.index .imgload {
  width: 32px;
  height: 32px;
}
/* line 115, ../scss/partials/_index.scss */
.index #blog-pager {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 983px) {
  /* line 120, ../scss/partials/_index.scss */
  .index .post {
    width: 48%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 126, ../scss/partials/_index.scss */
  .index .post {
    width: 48%;
    margin: 0 1% 15px;
  }
}
@media only screen and (max-width: 499px) {
  /* line 133, ../scss/partials/_index.scss */
  .index .post {
    margin: 0 0.8% 15px;
  }
  /* line 136, ../scss/partials/_index.scss */
  .index a.loadpost {
    width: 90%;
  }
}
@media only screen and (max-width: 479px) {
  /* line 142, ../scss/partials/_index.scss */
  .index .post {
    width: 100%;
    margin: 0 0 15px;
  }
}

/* line 2, ../scss/partials/_item.scss */
.item #main-wrapper {
  padding: 10px;
}
/* line 6, ../scss/partials/_item.scss */
.item .post, .item #comments, .item #related_posts, .item .breadcrumbs {
  margin: 0 0 15px;
  border: 1px solid #E0E0E0;
  -moz-box-shadow: 0 2px 4px #E7E7E7;
  -webkit-box-shadow: 0 2px 4px #E7E7E7;
  box-shadow: 0 2px 4px #E7E7E7;
  padding: 0 10px 15px;
  box-shadow: 0 2px 4px #E7E7E7;
  background-color: #FFF;
  overflow: hidden;
}
/* line 43, ../scss/partials/_item.scss */
.item .post h1.post-title {
  margin: 5px 0 15px;
  border-bottom: 4px solid #4ECDC4;
  padding: 0 0 3px;
  font-size: 200%;
}
/* line 48, ../scss/partials/_item.scss */
.item .post h1.post-title a {
  color: #363636;
}
/* line 52, ../scss/partials/_item.scss */
.item .post img {
  padding: 5px;
  border: 1px solid #C0BEBE;
}
/* line 58, ../scss/partials/_item.scss */
.item .pager-isi {
  overflow: hidden;
}
/* line 60, ../scss/partials/_item.scss */
.item .pager-isi a, .item .pager-isi .linkgrey {
  width: 50%;
  display: block;
  float: left;
  padding: 10px 0;
  font-size: 120%;
  text-decoration: none;
}
/* line 68, ../scss/partials/_item.scss */
.item .pager-isi h6 {
  color: #2C2C2C;
  font-size: 125%;
}
/* line 72, ../scss/partials/_item.scss */
.item .pager-isi h5 {
  font-size: 120%;
}
/* line 78, ../scss/partials/_item.scss */
.item a.blog-pager-newer-link {
  padding-left: 15px;
  text-align: left;
  position: relative;
}
/* line 83, ../scss/partials/_item.scss */
.item a.blog-pager-older-link {
  padding-right: 15px;
  text-align: right;
  position: relative;
}
/* line 91, ../scss/partials/_item.scss */
.item .pager-isi .linkgrey.left {
  padding-left: 15px;
  text-align: left;
}
/* line 95, ../scss/partials/_item.scss */
.item .pager-isi .linkgrey.right {
  padding-right: 15px;
  text-align: right;
}
/* line 102, ../scss/partials/_item.scss */
.item a.blog-pager-newer-link::after {
  content: "";
  width: 0;
  height: 0;
  border-width: 8px 6px;
  border-style: solid;
  border-color: transparent #777676 transparent transparent;
  position: absolute;
  top: 50%;
  left: -3px;
  margin-top: -8px;
}
/* line 114, ../scss/partials/_item.scss */
.item a.blog-pager-older-link::after {
  content: "";
  width: 0;
  height: 0;
  border-width: 8px 6px;
  border-style: solid;
  border-color: transparent transparent transparent #777676;
  position: absolute;
  top: 50%;
  right: -3px;
  margin-top: -8px;
}
/* line 129, ../scss/partials/_item.scss */
.item #related_posts ul, .item #related_posts li {
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 135, ../scss/partials/_item.scss */
.item #related_posts ul {
  margin-top: 10px;
}
/* line 138, ../scss/partials/_item.scss */
.item #related_posts li {
  float: left;
  width: 50%;
  padding: 5px;
  height: 130px;
}
/* line 144, ../scss/partials/_item.scss */
.item #related_posts .gmbrrltd {
  float: left;
  margin: 0 5px 5px 0;
  padding: 3px;
  border: 1px solid silver;
}
/* line 150, ../scss/partials/_item.scss */
.item #related_posts p {
  margin: 5px 0 0;
}
/* line 155, ../scss/partials/_item.scss */
.item .breadcrumbs {
  padding: 5px;
  font-size: 80%;
}
@media only screen and (min-width: 768px) and (max-width: 983px) {
  /* line 161, ../scss/partials/_item.scss */
  .item #related_posts li {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 168, ../scss/partials/_item.scss */
  .item #related_posts li {
    width: 100%;
    float: none;
  }
}

/* line 2, ../scss/partials/_static.scss */
.static #main-wrapper {
  padding: 10px;
}
/* line 5, ../scss/partials/_static.scss */
.static .post, .static #comments {
  margin: 0 0 15px;
  border: 1px solid #E0E0E0;
  -moz-box-shadow: 0 2px 4px #E7E7E7;
  -webkit-box-shadow: 0 2px 4px #E7E7E7;
  padding: 0 10px 15px;
  box-shadow: 0 2px 4px #E7E7E7;
  overflow: hidden;
}
/* line 15, ../scss/partials/_static.scss */
.static .post h2.post-title {
  margin: 5px 0 15px;
  border-bottom: 4px solid #363636;
  padding: 0 0 3px;
  font-size: 200%;
  background-color: white;
}
/* line 21, ../scss/partials/_static.scss */
.static .post h2.post-title a {
  color: #363636;
}
/* line 25, ../scss/partials/_static.scss */
.static .post img {
  padding: 5px;
  border: 1px solid #C0BEBE;
}

/* line 1, ../scss/partials/ext/_prettify.scss */
.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
/* line 5, ../scss/partials/ext/_prettify.scss */
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* line 12, ../scss/partials/ext/_prettify.scss */
ol.linenums {
  margin: 0 0 0 33px;
  /* IE indents via margin-left */
  list-style-type: decimal;
}
/* line 16, ../scss/partials/ext/_prettify.scss */
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
}

/* line 23, ../scss/partials/ext/_prettify.scss */
pre.prettyprint {
  background: #404445 !important;
  border: 0px solid transparent !important;
}

/*!
* tomorrow-night-eighties.fixed.min.css
*/
/* line 32, ../scss/partials/ext/_prettify.scss */
.pln {
  color: #CCC;
}

@media screen {
  /* line 37, ../scss/partials/ext/_prettify.scss */
  .str {
    color: #99CC99;
  }

  /* line 40, ../scss/partials/ext/_prettify.scss */
  .kwd {
    color: #CC99CC;
  }

  /* line 43, ../scss/partials/ext/_prettify.scss */
  .com {
    color: #999999;
  }

  /* line 46, ../scss/partials/ext/_prettify.scss */
  .typ {
    color: #6699CC;
  }

  /* line 49, ../scss/partials/ext/_prettify.scss */
  .lit {
    color: #F99157;
  }

  /* line 52, ../scss/partials/ext/_prettify.scss */
  .pun, .opn, .clo {
    color: #CCC;
  }

  /* line 55, ../scss/partials/ext/_prettify.scss */
  .tag {
    color: #F2777A;
  }

  /* line 58, ../scss/partials/ext/_prettify.scss */
  .atn {
    color: #F99157;
  }

  /* line 61, ../scss/partials/ext/_prettify.scss */
  .atv {
    color: #66CCCC;
  }

  /* line 64, ../scss/partials/ext/_prettify.scss */
  .dec {
    color: #F99157;
  }

  /* line 67, ../scss/partials/ext/_prettify.scss */
  .var {
    color: #F2777A;
  }

  /* line 70, ../scss/partials/ext/_prettify.scss */
  .fun {
    color: #6699CC;
  }
}
@media print, projection {
  /* line 76, ../scss/partials/ext/_prettify.scss */
  .str {
    color: #006600;
  }

  /* line 79, ../scss/partials/ext/_prettify.scss */
  .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 83, ../scss/partials/ext/_prettify.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 87, ../scss/partials/ext/_prettify.scss */
  .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 91, ../scss/partials/ext/_prettify.scss */
  .lit {
    color: #004444;
  }

  /* line 94, ../scss/partials/ext/_prettify.scss */
  .pun, .opn, .clo {
    color: #444400;
  }

  /* line 97, ../scss/partials/ext/_prettify.scss */
  .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 101, ../scss/partials/ext/_prettify.scss */
  .atn {
    color: #440044;
  }

  /* line 104, ../scss/partials/ext/_prettify.scss */
  .atv {
    color: #006600;
  }
}
/* line 109, ../scss/partials/ext/_prettify.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 14, ../scss/style.scss */
header, nav, section, aside, article, footer {
  display: block;
}

/* line 18, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../scss/style.scss */
#navbar-iframe, #Navbar1 {
  display: none !important;
}

/* line 29, ../scss/style.scss */
header, nav, section, aside, article, footer {
  display: block;
}

/* line 33, ../scss/style.scss */
body {
      font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #616161 ;
}

/* line 39, ../scss/style.scss */
a {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: #333;
}
/* line 43, ../scss/style.scss */
a:hover {
  color: #4ECDC4;
}
/* line 46, ../scss/style.scss */
a img {
  border-width: 0;
}
/* line 49, ../scss/style.scss */
a.download, a.demo {
  background: #4ECDC4;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  min-width: 90px;
  text-transform: uppercase;
  width: 200px;
}

/* line 60, ../scss/style.scss */
ol.linenums {
  margin: 0;
}

/* line 64, ../scss/style.scss */
pre {
  overflow: auto;
  background: url(http://labs.techumber.com/techumber/code.png) 100% 0% no-repeat #f7f7f7;
  padding: 2em 1em 1em;
  border: 1px solid #dddddd;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin: 15px 0px;
}

/* line 78, ../scss/style.scss */
a.download:hover, a.demo:hover {
  background: #333333;
  color: white;
  text-decoration: none;
}

/* line 85, ../scss/style.scss */
#NoScript {
  background: none repeat scroll 0 0 #fff;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.9;
}
/* line 96, ../scss/style.scss */
#NoScript h6 {
  font-size: 24px;
  color: #666;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-left: -30px;
  margin-top: -18px;
}

/* line 109, ../scss/style.scss */
#content-wrapper {
  position: relative;
  top: 250px;
  background: #fff;
}

/* Outer-Wrapper
----------------------------------------------- */
/* line 121, ../scss/style.scss */
#outer-wrapper {
  /*
  width:1200px;
  background-color:#FAFAFA;
  margin:0 auto;
  padding:0;
  text-align:left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  */
}

/* line 134, ../scss/style.scss */
#main-wrapper {
  width: 68%;
  padding: 0;
  float: left;
  word-wrap: break-word;
  /* fix for long text breaking sidebar float in IE */
  overflow: hidden;
  /* fix for long non-text content breaking IE sidebar float */
}

/* Headings
----------------------------------------------- */
/* line 147, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: BenchNine,"Bebas Neue",Bebas,"Arial Narrow",Sans-Serif;
  font-weight: 400;
  text-transform: none;
  margin: 0;
}

/* Posts
----------------------------------------------- */
/* line 157, ../scss/style.scss */
.date-header {
  margin: 1.5em 0 .5em;
  display: none;
}

/* line 162, ../scss/style.scss */
.post {
  margin: .5em 0 1.5em;
  background-color: #FFF;
  position: relative;
}
/* line 166, ../scss/style.scss */
.post h1, .post h2 {
  margin: .25em 0 0;
  padding: 0 0 4px;
  font-size: 140%;
  font-weight: 400;
  line-height: 1.4em;
}
/* line 174, ../scss/style.scss */
.post h1 a, .post h2 a {
  display: block;
  text-decoration: none;
  font-weight: 400;
}
/* line 178, ../scss/style.scss */
.post h1 a:visited, .post h2 a:visited {
  display: block;
  text-decoration: none;
  font-weight: 400;
}
/* line 184, ../scss/style.scss */
.post h1 strong, .post h2 strong {
  display: block;
  text-decoration: none;
  font-weight: 400;
}
/* line 191, ../scss/style.scss */
.post h1 strong, .post h1 a:hover {
  color: #333;
}
/* line 196, ../scss/style.scss */
.post h2 strong, .post h2 a:hover {
  color: #333;
}
/* line 200, ../scss/style.scss */
.post .post-title {
  margin-bottom: 15px;
}

/* line 205, ../scss/style.scss */
.post-body {
  margin: 0 0 .75em;
  line-height: 1.6em;
}
/* line 208, ../scss/style.scss */
.post-body blockquote {
  line-height: 1.3em;
}

/* line 213, ../scss/style.scss */
.post-footer {
      padding: .75em;
    color: #999;
    background: #F5F5F5;
    border: 1px solid #c2c2c2;
    margin-top: 15px;
    box-shadow: inset 0 0 11px #ccc
}

/* line 221, ../scss/style.scss */
.comment-link {
  margin-left: .6em;
}

/* line 225, ../scss/style.scss */
.tr-caption-container img {
  border: none;
  padding: 0;
}

/* line 230, ../scss/style.scss */
.post blockquote {
  margin: 1em 20px;
  font-style: italic;
}
/* line 233, ../scss/style.scss */
.post blockquote p {
  margin: .75em 0;
}

/* PostShare
----------------------------------------------- */
/* line 241, ../scss/style.scss */
#postShare {
  background: #f6f7fa;
  padding: 5px 20px;
  margin: 0 0 30px 0;
}
/* line 245, ../scss/style.scss */
#postShare ul {
  overflow: hidden;
  margin: 0;
}
/* line 248, ../scss/style.scss */
#postShare ul li {
  list-style: none;
  width: 75px;
  height: 85px;
  border: 1px solid #f0f2f8;
  background: #fff;
  float: left;
  margin: 0 0 0 7px;
  text-align: center;
  padding: 10px 5px;
}
/* line 258, ../scss/style.scss */
#postShare ul li:first-child {
  margin: 0;
}

/* Comments
----------------------------------------------- */
/* line 268, ../scss/style.scss */
#comments > h4, #related_posts h4 {
  margin: 5px 0 0;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 180%;
  color: #363636;
  border-bottom: 4px solid #363636;
}

/* line 278, ../scss/style.scss */
#comments-block {
  margin: 1em 0 1.5em;
  line-height: 1.6em;
}

/* line 285, ../scss/style.scss */
.comments .comments-content .icon.blog-author {
  position: absolute;
  left: -3px;
  margin: 0;
  top: 38px;
  font-size: 8px;
}
/* line 292, ../scss/style.scss */
.comments .comments-content .inline-thread .icon.blog-author {
  left: -7px;
  top: 35px;
}
/* line 296, ../scss/style.scss */
.comments .comments-content .comment {
  margin-bottom: 0;
}
/* line 299, ../scss/style.scss */
.comments .comments-content .icon.blog-author::before {
  content: "Author";
  position: absolute;
  left: 10px;
  top: 4px;
  color: #C20404;
}
/* line 307, ../scss/style.scss */
.comments .comments-content .comment-thread .inline-thread ol {
  background-color: #F8F8F8;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #BDB9B9;
}
/* line 313, ../scss/style.scss */
.comments .comments-content .comment-thread .inline-thread li {
  margin: 0;
  padding: 5px;
}
/* line 316, ../scss/style.scss */
.comments .comments-content .comment-thread .inline-thread li:first-child, .comments .comments-content .comment-thread .inline-thread li:last-child {
  margin: 0;
  padding: 5px;
}
/* line 323, ../scss/style.scss */
.comments .thread-toggle.thread-expanded {
  position: relative;
}
/* line 325, ../scss/style.scss */
.comments .thread-toggle.thread-expanded::before {
  content: "";
  width: 1px;
  left: -10px;
  top: -17px;
  height: 55px;
  background-color: #BDB9B9;
  position: absolute;
}
/* line 334, ../scss/style.scss */
.comments .thread-toggle.thread-expanded::after {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  background-color: #BDB9B9;
  bottom: -24px;
  left: -10px;
}
/* line 344, ../scss/style.scss */
.comments .comment-block {
  margin: 0;
  padding: 5px 5px 5px 48px;
  border: 1px solid #BDB9B9;
}
/* line 349, ../scss/style.scss */
.comments .inline-thread .comment-block {
  border: 0;
  padding: 0 0 0 48px;
}
/* line 353, ../scss/style.scss */
.comments .avatar-image-container {
  margin: 5px 0 0 5px;
}
/* line 356, ../scss/style.scss */
.comments .inline-thread .avatar-image-container {
  margin: 0;
}

/* line 362, ../scss/style.scss */
#comments-block .comment-author {
  margin: .5em 0;
}
/* line 365, ../scss/style.scss */
#comments-block .comment-body {
  margin: .25em 0 0;
}
/* line 368, ../scss/style.scss */
#comments-block .comment-footer {
  margin: -0.25em 0 2em;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
/* line 374, ../scss/style.scss */
#comments-block .comment-body p {
  margin: 0 0 .75em;
}

/* line 379, ../scss/style.scss */
.deleted-comment {
  font-style: italic;
  color: gray;
}

/* line 384, ../scss/style.scss */
#blog-pager-newer-link {
  float: left;
}

/* line 388, ../scss/style.scss */
#blog-pager-older-link {
  float: right;
}

/* line 392, ../scss/style.scss */
#blog-pager {
  text-align: center;
}

/* line 396, ../scss/style.scss */
.feed-links {
  display: none;
}

/* line 400, ../scss/style.scss */
.main .widget, #sidebar-wtengah {
  margin: 0 0 1.5em;
}

/* line 405, ../scss/style.scss */
.main .Blog {
  border-bottom-width: 0;
}

/* Profile
----------------------------------------------- */
/* line 413, ../scss/style.scss */
.profile-img {
  float: left;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  padding: 4px;
  border: 1px solid #ccc;
}

/* line 423, ../scss/style.scss */
.profile-data {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font: normal normal 78% Cuprum;
  color: #999;
  font-weight: 700;
  line-height: 1.6em;
}

/* line 433, ../scss/style.scss */
.profile-datablock {
  margin: .5em 0;
}

/* line 437, ../scss/style.scss */
.profile-textblock {
  margin: .5em 0;
  line-height: 1.6em;
}

/* line 442, ../scss/style.scss */
.profile-link {
  font: normal normal 78% Cuprum;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/* Page reload
----------------------------------------------- */
/* line 451, ../scss/style.scss */
#outer-wrapper {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 456, ../scss/style.scss */
#header-wrapper {
  margin-top: -145px;
}

/* line 460, ../scss/style.scss */
#main-wrapper {
  margin-left: -100%;
}

/* line 464, ../scss/style.scss */
#sidebar-wrapper {
  margin-right: -100%;
}

/* line 467, ../scss/style.scss */
#jSplash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999999;
}

/* line 476, ../scss/style.scss */
#ball, #ball-0, #ball-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  background: #55606A;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-animation: jump 2s infinite forwards;
  -webkit-animation: jump 2s infinite forwards;
  animation: jump 2s infinite forwards;
}

/* line 494, ../scss/style.scss */
#ball-0 {
  left: 40%;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* line 503, ../scss/style.scss */
#ball-1 {
  left: 60%;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-moz-keyframes jump {
  0% {
    top: 20%;
    -webkit-animation-timing-function: ease-in;
  }
  50% {
    top: 50%;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {
    top: 80%;
    height: 14px;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    top: 20%;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    top: 20%;
    -webkit-animation-timing-function: ease-in;
  }
}
@-webkit-keyframes jump {
  0% {
    top: 20%;
    -webkit-animation-timing-function: ease-in;
  }
  50% {
    top: 50%;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {
    top: 80%;
    height: 14px;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    top: 20%;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    top: 20%;
    -webkit-animation-timing-function: ease-in;
  }
}
@keyframes jump {
  0% {
    top: 20%;
    -webkit-animation-timing-function: ease-in;
  }
  50% {
    top: 50%;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {
    top: 80%;
    height: 14px;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    top: 20%;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    top: 20%;
    -webkit-animation-timing-function: ease-in;
  }
}
/* line 673, ../scss/style.scss */
.arrowLeft a {
  position: fixed;
  z-index: 100;
  left: -5px;
  top: 45%;
  padding: 25px 20px;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
/* line 680, ../scss/style.scss */
.arrowLeft a:hover {
  left: 0;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  color: #fff;
}

/* line 687, ../scss/style.scss */
.arrowRight a {
  position: fixed;
  z-index: 100;
  right: -5px;
  top: 45%;
  padding: 25px 20px;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
/* line 694, ../scss/style.scss */
.arrowRight a:hover {
  right: 0;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  color: #fff;
}

/* line 701, ../scss/style.scss */
.arrowNav a {
  background: #000000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* line 708, ../scss/style.scss */
#main-wrapper {
  padding: 10px 0 10px 10px;
}

/* line 713, ../scss/style.scss */
.post-body h1 {
  font-size: 180%;
}
/* line 716, ../scss/style.scss */
.post-body h2 {
  font-size: 160%;
}
/* line 719, ../scss/style.scss */
.post-body h3 {
  font-size: 140%;
}
/* line 722, ../scss/style.scss */
.post-body h4 {
  font-size: 130%;
}
/* line 725, ../scss/style.scss */
.post-body h5 {
  font-size: 120%;
}
/* line 728, ../scss/style.scss */
.post-body h6 {
  font-size: 110%;
}

/* line 733, ../scss/style.scss */
.isotope {
  -webkit-transition-duration: .8s;
  -moz-transition-duration: .8s;
  -ms-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
}
/* line 739, ../scss/style.scss */
.isotope .isotope-item {
  -webkit-transition-duration: .8s;
  -moz-transition-duration: .8s;
  -ms-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: 0;
  -moz-transition-property: 0;
  -ms-transition-property: 0;
  -o-transition-property: top,left,opacity;
  transition-property: transform,opacity;
}

/* line 810, ../scss/style.scss */
.loadingxx {
  width: 100%;
  min-height: 150px;
  background: transparent url(http://2.bp.blogspot.com/-PfP0K_VdDW0/UYl9oBf2atI/AAAAAAAAI-k/NL74VAi-oRw/s000/progress_ani.gif) no-repeat center;
  display: block;
  text-indent: -9999px;
}

/* line 819, ../scss/style.scss */
.rcomnetxx li {
  padding: 10px 0;
}
/* line 822, ../scss/style.scss */
.rcomnetxx .kmtimg {
  float: left;
  margin: 0 5px 5px 0;
}
/* line 826, ../scss/style.scss */
.rcomnetxx p {
  margin: 5px 0 0;
}
/* line 829, ../scss/style.scss */
.rcomnetxx .ketkomt strong {
  display: block;
}
/* line 832, ../scss/style.scss */
.rcomnetxx .date {
  font-size: 8px;
}
