/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/404.scss */
#fof {
  margin: 20px 0 120px;
  text-align: center;
}
/* line 4, ../scss/404.scss */
#fof div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
}
/* line 12, ../scss/404.scss */
#fof canvas, #fof img {
  position: relative;
  width: 960px;
  height: 480px;
  margin-bottom: 20px;
  z-index: 1;
  background: #000;
}

/* line 8, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 12, ../scss/style.scss */
body {
  font: 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  background: #e6eae9;
}

/* line 16, ../scss/style.scss */
.logo {
  text-align: center;
  position: relative;
  width: 200px;
  margin: 20px auto;
}

/* line 24, ../scss/style.scss */
.logocircle {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  background-color: transparent;
  border: 5px solid rgba(0, 0, 0, 0.9);
  border-left: 5px solid transparent;
  border-radius: 110px;
  border-right: 5px solid transparent;
  height: 84px;
  opacity: .9;
  width: 83px;
  top: -3px;
  left: 1px;
  position: absolute;
}

@keyframes spin {
  /* line 39, ../scss/style.scss */
  0% {
    -webkit-transition: rotate(0deg);
    -moz-transition: rotate(0deg);
    -ms-transition: rotate(0deg);
    -o-transition: rotate(0deg);
    transition: rotate(0deg);
  }

  /* line 42, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(360deg);
    -moz-transition: rotate(360deg);
    -ms-transition: rotate(360deg);
    -o-transition: rotate(360deg);
    transition: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  /* line 39, ../scss/style.scss */
  0% {
    -webkit-transition: rotate(0deg);
    -moz-transition: rotate(0deg);
    -ms-transition: rotate(0deg);
    -o-transition: rotate(0deg);
    transition: rotate(0deg);
  }

  /* line 42, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(360deg);
    -moz-transition: rotate(360deg);
    -ms-transition: rotate(360deg);
    -o-transition: rotate(360deg);
    transition: rotate(360deg);
  }
}

@-moz-keyframes spin {
  /* line 39, ../scss/style.scss */
  0% {
    -webkit-transition: rotate(0deg);
    -moz-transition: rotate(0deg);
    -ms-transition: rotate(0deg);
    -o-transition: rotate(0deg);
    transition: rotate(0deg);
  }

  /* line 42, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(360deg);
    -moz-transition: rotate(360deg);
    -ms-transition: rotate(360deg);
    -o-transition: rotate(360deg);
    transition: rotate(360deg);
  }
}

@-ms-keyframes spin {
  /* line 39, ../scss/style.scss */
  0% {
    -webkit-transition: rotate(0deg);
    -moz-transition: rotate(0deg);
    -ms-transition: rotate(0deg);
    -o-transition: rotate(0deg);
    transition: rotate(0deg);
  }

  /* line 42, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(360deg);
    -moz-transition: rotate(360deg);
    -ms-transition: rotate(360deg);
    -o-transition: rotate(360deg);
    transition: rotate(360deg);
  }
}

@-o-keyframes spin {
  /* line 39, ../scss/style.scss */
  0% {
    -webkit-transition: rotate(0deg);
    -moz-transition: rotate(0deg);
    -ms-transition: rotate(0deg);
    -o-transition: rotate(0deg);
    transition: rotate(0deg);
  }

  /* line 42, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(360deg);
    -moz-transition: rotate(360deg);
    -ms-transition: rotate(360deg);
    -o-transition: rotate(360deg);
    transition: rotate(360deg);
  }
}

/* line 47, ../scss/style.scss */
#result {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  display: block;
  trborder-bottom: 1px solid #cccccc;
}

/* line 59, ../scss/style.scss */
td:first-child, th:first-child {
  padding-right: 11px;
  text-align: center;
}

/* line 69, ../scss/style.scss */
.loader {
  width: 1em;
  height: 1em;
  font-size: 10em;
  border: 0.025em solid rgba(14, 13, 13, 0.5);
  -webkit-animation: turn 0.7s infinite, corner 0.7s infinite;
  -moz-animation: turn 0.7s infinite, corner 0.7s infinite;
  -ms-animation: turn 0.7s infinite, corner 0.7s infinite;
  -o-animation: turn 0.7s infinite, corner 0.7s infinite;
  animation: turn 0.7s infinite, corner 0.7s infinite;
  transform-origin: right;
  border-radius: .075em;
  margin: 0 auto;
}

@keyframes turn {
  /* line 81, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(90deg) translate(0.5em, 0.5em);
    -moz-transition: rotate(90deg) translate(0.5em, 0.5em);
    -ms-transition: rotate(90deg) translate(0.5em, 0.5em);
    -o-transition: rotate(90deg) translate(0.5em, 0.5em);
    transition: rotate(90deg) translate(0.5em, 0.5em);
  }
}

@-webkit-keyframes turn {
  /* line 81, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(90deg) translate(0.5em, 0.5em);
    -moz-transition: rotate(90deg) translate(0.5em, 0.5em);
    -ms-transition: rotate(90deg) translate(0.5em, 0.5em);
    -o-transition: rotate(90deg) translate(0.5em, 0.5em);
    transition: rotate(90deg) translate(0.5em, 0.5em);
  }
}

@-moz-keyframes turn {
  /* line 81, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(90deg) translate(0.5em, 0.5em);
    -moz-transition: rotate(90deg) translate(0.5em, 0.5em);
    -ms-transition: rotate(90deg) translate(0.5em, 0.5em);
    -o-transition: rotate(90deg) translate(0.5em, 0.5em);
    transition: rotate(90deg) translate(0.5em, 0.5em);
  }
}

@-ms-keyframes turn {
  /* line 81, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(90deg) translate(0.5em, 0.5em);
    -moz-transition: rotate(90deg) translate(0.5em, 0.5em);
    -ms-transition: rotate(90deg) translate(0.5em, 0.5em);
    -o-transition: rotate(90deg) translate(0.5em, 0.5em);
    transition: rotate(90deg) translate(0.5em, 0.5em);
  }
}

@-o-keyframes turn {
  /* line 81, ../scss/style.scss */
  100% {
    -webkit-transition: rotate(90deg) translate(0.5em, 0.5em);
    -moz-transition: rotate(90deg) translate(0.5em, 0.5em);
    -ms-transition: rotate(90deg) translate(0.5em, 0.5em);
    -o-transition: rotate(90deg) translate(0.5em, 0.5em);
    transition: rotate(90deg) translate(0.5em, 0.5em);
  }
}

@keyframes corner {
  /* line 86, ../scss/style.scss */
  0% {
    border-top-right-radius: .5em;
  }

  /* line 89, ../scss/style.scss */
  25% {
    border-bottom-right-radius: .5em;
  }

  /* line 92, ../scss/style.scss */
  50% {
    border-bottom-left-radius: .5em;
  }

  /* line 95, ../scss/style.scss */
  75% {
    border-top-left-radius: .5em;
  }
}

@-webkit-keyframes corner {
  /* line 86, ../scss/style.scss */
  0% {
    border-top-right-radius: .5em;
  }

  /* line 89, ../scss/style.scss */
  25% {
    border-bottom-right-radius: .5em;
  }

  /* line 92, ../scss/style.scss */
  50% {
    border-bottom-left-radius: .5em;
  }

  /* line 95, ../scss/style.scss */
  75% {
    border-top-left-radius: .5em;
  }
}

@-moz-keyframes corner {
  /* line 86, ../scss/style.scss */
  0% {
    border-top-right-radius: .5em;
  }

  /* line 89, ../scss/style.scss */
  25% {
    border-bottom-right-radius: .5em;
  }

  /* line 92, ../scss/style.scss */
  50% {
    border-bottom-left-radius: .5em;
  }

  /* line 95, ../scss/style.scss */
  75% {
    border-top-left-radius: .5em;
  }
}

@-ms-keyframes corner {
  /* line 86, ../scss/style.scss */
  0% {
    border-top-right-radius: .5em;
  }

  /* line 89, ../scss/style.scss */
  25% {
    border-bottom-right-radius: .5em;
  }

  /* line 92, ../scss/style.scss */
  50% {
    border-bottom-left-radius: .5em;
  }

  /* line 95, ../scss/style.scss */
  75% {
    border-top-left-radius: .5em;
  }
}

@-o-keyframes corner {
  /* line 86, ../scss/style.scss */
  0% {
    border-top-right-radius: .5em;
  }

  /* line 89, ../scss/style.scss */
  25% {
    border-bottom-right-radius: .5em;
  }

  /* line 92, ../scss/style.scss */
  50% {
    border-bottom-left-radius: .5em;
  }

  /* line 95, ../scss/style.scss */
  75% {
    border-top-left-radius: .5em;
  }
}
