@import "compass";
@import "compass/support";
/* Header
-----------------------------------------------
*/

$compass-extensions:compass-extensions();
$graceful-usage-threshold:100;

#header-wrapper {
  margin: 0 auto;
  padding: 10px;
  background-color: #FFF;
  color: #292929;
  height: 200px;
  background: image-url('cloud.jpg');
  position: fixed;
  top: 0;
  width: 100%;
  background-position: 0 0;
}


#header {
  text-align: center;
  color: #202020;
  margin: 0;
  float: left;
  position: relative;
  top: 45px;
  left: 50%;
  margin-left: -100px;

  h1, p {
    margin: 0;
    padding: 0 5px;
    line-height: 1.2em;
    text-transform: uppercase;
  }
  a {
    color: #202020;
    text-decoration: none;
    width: 200px;
    float: left;
    &:hover {
      color: #41B7D8;
    }
  }
  .description {
    margin: 0 5px;
    padding: 0 20px 15px;
    line-height: 1.4em;
   
    text-transform: capitalize;
    color: #5E5C5C;
  }
  img! {}
}

.social-icons{
  text-align: center;
  position: relative;
  top: 70px;
    a {
      margin: 3px;
      padding: 2px 1.5px;
      transition: all 0.25s;
      &:hover img{
        opacity: 0.7;
      }
    }
    img {
      height: 50px;
    }
}

.logocircle {
  // @include experimental(animation, spin 1s infinite linear);
  @include animation(spin 1s infinite linear);
  @include border-radius(110px);
  background: transparent;
  border: 5px solid rgba(0, 0, 0, 0.9);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 90px;
  opacity: .9;
  width: 90px;
  top: 45px;
  left: 50%;
  position: relative;
  margin-left: -102px;
}
//circle animation
@include keyframes(spin){
   0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}




