

/* Navigation
----------------------------------------------- */
#nav-wrapper.fixed-nav {
  z-index: 99999;
  position: fixed;
  top:0;
  // border-bottom: 1px solid #dedede;
}



#search-form-feed {
  padding: 0;
  width: 240px;
  float: right;
  margin-top: 3px;
  position: relative;
  margin-right: 5px;
}

#mobilenav {
  display: none;
}

#nav-wrapper{
  width: 100%;
  background: #333;
  height: 50px;
  position: relative;
  top: 250px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  line-height: 50px;
}

// #nav {
//   font-weight: 700;
//   height: 35px;
//   position: relative;
//   float: right;
//   width: auto;
//   top: 78px;
// }

#navinti {
  height: 35px;
  margin: 0;
  padding: 0;
  float: left;
  li {
    list-style: none;
    display: inline-block;
    zoom: 1;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    a {
      display: block;
      // line-height: 35px;
      text-decoration: none;
      color: #FFF;
      padding: 0 15px;
      font-weight: normal;
    }
    &:hover > a {
      border-bottom: 1px solid #FFFFFF;
    }
  }
  ul {
    position: absolute;
    z-index: 10;
    padding: 0;
    list-style: none;
    width: 170px;
    background-color: #F8F8F8;
    -moz-box-shadow: 0 0 5px #494949;
    -webkit-box-shadow: 0 0 5px #494949;
    box-shadow: 0 0 5px #494949;
    display: none;
  }
  li:hover ul.hidden {
    display: block;
  }
  ul {
    a {
      color: #494949;
      &:hover {
        background-color: #fff;
      }
    }
    li {
      float: none;
      display: block;
    }
  }
  li.dgnsub > a {
    padding: 0 20px 0 15px;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #FFF transparent transparent;
      position: absolute;
      border-width: 5px 4px;
      right: 7px;
      top: 16px;
    }
  }
}


#search-form-feed {
  padding: 0;
  width: auto;
  float: right;
  margin-top: 3px;
  position: relative;
  margin-right: 5px;
  margin-top:10px;
  form {
    float: left;
    width: 0;
    overflow: hidden;
    @include transition(all 1s);
  }
  &:hover form {
    width: 250px;
     @include transition(all 1s);
   
  }
}


.search-btn {
  width: 50px;
  height: 31px;
  background: url('http://developer.android.com/assets/images/icon_search.png') no-repeat;
  float: left;
  cursor: pointer;
}

#feed-q-input {
  display: block;
  width: 100%;
  height: 29px;
  color: #fff;
  margin: 0;
  border: 0;
  font-size: 15px;
  padding: 0 10px;
  @include border-radius(2px);
  float: left;
  background: transparent;
  border-bottom: 1px solid #565656;
  &:focus {
    color: #565656;
    outline: none;
  }
}

#search-result-container {
  width: 300px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  padding: 10px;
  right: 0;
  margin: 0;
  top: 42px;
  display: none;
  font-size: 11px;
  background: #FFF;
  text-transform: none;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.25));
  // -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  // -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  // -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  // -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  li {
    margin: 0 0 5px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    word-wrap: break-word;
    font: normal normal 10px Verdana,Geneva,sans-serif;
    color: #141414;
    background-color: #FFF;
    text-transform: none;
    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 11px;
      display: block;
      line-height: 14px;
      padding: 0;
      font-weight: 700;
    }
  }
  mark {
    background-color: #FF0;
    color: #000;
  }
  h4 {
    margin: 0 0 10px;
    font: normal bold 12px;
    color: #000;
  }
  ol {
    margin: 0 0 10px;
    padding: 0;
    overflow: hidden;
    height: 450px;
  }
  &:hover ol {
    overflow: auto;
  }
  li img {
    display: block;
    float: left;
    margin: 0 5px 1px 0;
    padding: 2px;
    border: 1px solid #D1D1D1;
  }
}

#search-result-loader {
  top: 100%;
  position: absolute;
  z-index: 999;
  width: 100%;
  line-height: 30px;
  color: #2E2E2E;
  padding: 0 10px;
  background-color: #FFF;
  border: 1px solid #DBDBDB;
  margin: 0;
  overflow: hidden;
  display: none;
  text-transform: capitalize;
}

#search-result-container {
  p {
    margin: 5px 0;
  }
  .close {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
    border-radius: 9999px;
    width: 13px;
    height: 13px;
    text-indent: 1px;
    background-color: #C20404;
    line-height: 12px;
  }
}
