@import "compass/reset";

#navbar-iframe, #Navbar1 {
  display: none!important;
}

header, nav, section, aside, article, footer {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Use this with templates/template-twocol.html */

body, .body-fauxcolumn-outer {
  background: #FAFAFA;
  margin: 0;
  padding: 0;
  color: #333;
  font: 16px / 22px "Lucida Sans Unicode", "Lucida Grande", "Tahoma", Verdana, sans-serif;
}

a {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #32A4D6;
  &:link {
    color: #32A4D6;
    text-decoration: none;
  }
  &:hover {
    color: #32A4D6;
    text-decoration: underline;
  }
  img {
    border-width: 0;
  }
  &.download, &.demo {
    background: rgb(65, 183, 216);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px 10px;
    min-width: 90px;
    text-transform: uppercase;
    width: 200px;
  }
}

ol.linenums {
  margin: 0;
}

pre {
  overflow: auto;
  background: url(http://labs.techumber.com/techumber/code.png) 100% 0% no-repeat rgb(247, 247, 247);
  padding: 2em 1em 1em;
  border: 1px solid rgb(221, 221, 221);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin: 15px 0px;
}

a {
  &.download:hover, &.demo:hover {
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}

#NoScript {
  background: none repeat scroll 0 0 #fff;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.9;
  h6 {
    font-size: 24px;
    color: #666;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-left: -30px;
    margin-top: -18px;
  }
}

/* Header
-----------------------------------------------
*/

#header-wrapper {
  margin: 0 auto;
  padding: 10px;
  background-color: #FFF;
  color: #292929;
  height: 200px;
  background: url('http://4.bp.blogspot.com/-jb2V0LGNyzQ/UqrkwrlEbaI/AAAAAAAACEw/rIUlFr_CsfY/s1600/clouds.jpg') #679eba;
  position: fixed;
  top: 0;
  width: 100%;
  background-position: 0 0;
}

#content-wrapper {
  position: relative;
  margin-top: 200px;
  background: #f6f7fa;
  margin-bottom: 127px;
}

#header {
  text-align: center;
  color: #202020;
  margin: 0;
  float: left;
  position: relative;
  top: 45px;
  h1, p {
    margin: 0;
    padding: 0 5px;
    line-height: 1.2em;
    font: normal normal 300% BenchNine,"Bebas Neue",Bebas,"Arial Narrow",Sans-Serif;
    text-transform: uppercase;
  }
  a {
    color: #202020;
    text-decoration: none;
    width: 200px;
    float: left;
    &:hover {
      color: #41B7D8;
    }
  }
  .description {
    margin: 0 5px;
    padding: 0 20px 15px;
    line-height: 1.4em;
    font: normal normal 120% "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
    text-transform: capitalize;
    color: #5E5C5C;
  }
  img! {}
}

.logocircle {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  background-color: transparent;
  border: 5px solid rgba(0, 0, 0, 0.9);
  border-left: 5px solid transparent;
  border-radius: 110px;
  border-right: 5px solid transparent;
  height: 90px;
  opacity: .9;
  width: 90px;
  top: 45px;
  left: -203px;
  position: relative;
  float: left;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Navigation
----------------------------------------------- */

#search-form-feed {
  padding: 0;
  width: 240px;
  float: right;
  margin-top: 3px;
  position: relative;
  margin-right: 5px;
}

#mobilenav {
  display: none;
}

#nav {
  font-weight: 700;
  height: 35px;
  position: relative;
  float: right;
  width: auto;
  top: 78px;
}

#navinti {
  height: 35px;
  margin: 0;
  padding: 0;
  float: left;
  li {
    list-style: none;
    display: inline-block;
    zoom: 1;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    a {
      display: block;
      line-height: 35px;
      text-decoration: none;
      color: #FFF;
      padding: 0 15px;
      font-weight: normal;
    }
    &:hover > a {
      border-bottom: 1px solid #FFFFFF;
    }
  }
  ul {
    position: absolute;
    z-index: 10;
    padding: 0;
    list-style: none;
    width: 170px;
    background-color: #F8F8F8;
    -moz-box-shadow: 0 0 5px #494949;
    -webkit-box-shadow: 0 0 5px #494949;
    box-shadow: 0 0 5px #494949;
    display: none;
  }
  li:hover ul.hidden {
    display: block;
  }
  ul {
    a {
      color: #494949;
      &:hover {
        background-color: #fff;
      }
    }
    li {
      float: none;
      display: block;
    }
  }
  li.dgnsub > a {
    padding: 0 20px 0 15px;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #FFF transparent transparent;
      position: absolute;
      border-width: 5px 4px;
      right: 7px;
      top: 16px;
    }
  }
}

/* Outer-Wrapper
----------------------------------------------- */

#outer-wrapper {
  /*
  width:1200px;
  background-color:#FAFAFA;
  margin:0 auto;
  padding:0;
  text-align:left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  */
}

.inner-wrap {
  width: 1200px;
  margin: 0 auto;
}

#main-wrapper {
  width: 68%;
  padding: 0;
  float: left;
  word-wrap: break-word;
  /* fix for long text breaking sidebar float in IE */
  overflow: hidden;
  /* fix for long non-text content breaking IE sidebar float */
}

#sidebar-wrapper {
  width: 30%;
  float: right;
  word-wrap: break-word;
  /* fix for long text breaking sidebar float in IE */
  overflow: hidden;
  /* fix for long non-text content breaking IE sidebar float */
  .widget-content {
    padding: 0;
    margin: 10px;
  }
}

.email-subscribe {
  padding: 10px 20px;
  overflow: hidden;
  background: #fff;
  h6 {
    font-size: 23px;
    margin-bottom: 0.4em;
  }
  input {
    &[type=text] {
      width: 68%;
      border: 1px solid #ccc;
      padding: 5px;
      color: #333;
      float: left;
      margin-right: 2px;
      outline: none;
    }
    &[type=submit] {
      width: 26%;
      float: left;
      padding: 5px;
      background: #41B7D8;
      color: #fff;
      border: 0;
      line-height: 18px;
      cursor: pointer;
      &:hover {
        background: #000;
      }
    }
  }
  small {
    font-weight: bold;
    color: #333;
  }
}

/* Headings
----------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: BenchNine,"Bebas Neue",Bebas,"Arial Narrow",Sans-Serif;
  font-weight: 400;
  text-transform: none;
  margin: 0;
}

/* Posts
----------------------------------------------- */

.date-header {
  margin: 1.5em 0 .5em;
  display: none;
}

.post {
  margin: .5em 0 1.5em;
  background-color: #FFF;
  position: relative;
  h1, h2 {
    margin: .25em 0 0;
    padding: 0 0 4px;
    font-size: 140%;
    font-weight: 400;
    line-height: 1.4em;
  }
  h1, h2 {
    a {
      display: block;
      text-decoration: none;
      font-weight: 400;
      &:visited {
        display: block;
        text-decoration: none;
        font-weight: 400;
      }
    }
    strong {
      display: block;
      text-decoration: none;
      font-weight: 400;
    }
  }
  h1 {
    strong, a:hover {
      color: #333;
    }
  }
  h2 {
    strong, a:hover {
      color: #333;
    }
  }
  .post-title {
    margin-bottom: 15px;
  }
}

.post-body {
  margin: 0 0 .75em;
  line-height: 1.6em;
  blockquote {
    line-height: 1.3em;
  }
}

.post-footer {
  margin: .75em 0;
  color: #999;
}

.comment-link {
  margin-left: .6em;
}

.tr-caption-container img {
  border: none;
  padding: 0;
}

.post blockquote {
  margin: 1em 20px;
  font-style: italic;
  p {
    margin: .75em 0;
  }
}

/* PostShare
----------------------------------------------- */

#postShare {
  background: #f6f7fa;
  padding: 5px 20px;
  margin: 0 0 30px 0;
  ul {
    overflow: hidden;
    margin: 0;
    li {
      list-style: none;
      width: 75px;
      height: 85px;
      border: 1px solid #f0f2f8;
      background: #fff;
      float: left;
      margin: 0 0 0 7px;
      text-align: center;
      padding: 10px 5px;
      &:first-child {
        margin: 0;
      }
    }
  }
}

/* Comments
----------------------------------------------- */

#comments > h4, #related_posts h4 {
  margin: 5px 0 0;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
  font-size: 180%;
  color: #363636;
  border-bottom: 4px solid #363636;
}

#comments-block {
  margin: 1em 0 1.5em;
  line-height: 1.6em;
}

.comments {
  .comments-content {
    .icon.blog-author {
      position: absolute;
      left: -3px;
      margin: 0;
      top: 38px;
      font-size: 8px;
    }
    .inline-thread .icon.blog-author {
      left: -7px;
      top: 35px;
    }
    .comment {
      margin-bottom: 0;
    }
    .icon.blog-author::before {
      content: "Author";
      position: absolute;
      left: 10px;
      top: 4px;
      color: #C20404;
    }
    .comment-thread .inline-thread {
      ol {
        background-color: #F8F8F8;
        padding: 5px;
        margin-top: 10px;
        border: 1px solid #BDB9B9;
      }
      li {
        margin: 0;
        padding: 5px;
        &:first-child, &:last-child {
          margin: 0;
          padding: 5px;
        }
      }
    }
  }
  .thread-toggle.thread-expanded {
    position: relative;
    &::before {
      content: "";
      width: 1px;
      left: -10px;
      top: -17px;
      height: 55px;
      background-color: #BDB9B9;
      position: absolute;
    }
    &::after {
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      background-color: #BDB9B9;
      bottom: -24px;
      left: -10px;
    }
  }
  .comment-block {
    margin: 0;
    padding: 5px 5px 5px 48px;
    border: 1px solid #BDB9B9;
  }
  .inline-thread .comment-block {
    border: 0;
    padding: 0 0 0 48px;
  }
  .avatar-image-container {
    margin: 5px 0 0 5px;
  }
  .inline-thread .avatar-image-container {
    margin: 0;
  }
}

#comments-block {
  .comment-author {
    margin: .5em 0;
  }
  .comment-body {
    margin: .25em 0 0;
  }
  .comment-footer {
    margin: -0.25em 0 2em;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  .comment-body p {
    margin: 0 0 .75em;
  }
}

.deleted-comment {
  font-style: italic;
  color: gray;
}

#blog-pager-newer-link {
  float: left;
}

#blog-pager-older-link {
  float: right;
}

#blog-pager {
  text-align: center;
}

.feed-links {
  display: none;
}

/* Sidebar Content
----------------------------------------------- */

.sidebar {
  color: #666;
  line-height: 1.5em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    line-height: 1.5em;
    border-bottom: 1px dashed;
    padding: 5px;
  }
  .widget {
    margin: 0 0 1.5em;
    padding: 0 0 1.5em;
  }
}

.main .widget, #sidebar-wtengah {
  margin: 0 0 1.5em;
  padding: 0 0 1.5em;
}

.main .Blog {
  border-bottom-width: 0;
}

/* Profile
----------------------------------------------- */

.profile-img {
  float: left;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  padding: 4px;
  border: 1px solid #ccc;
}

.profile-data {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font: normal normal 78% Cuprum;
  color: #999;
  font-weight: 700;
  line-height: 1.6em;
}

.profile-datablock {
  margin: .5em 0;
}

.profile-textblock {
  margin: .5em 0;
  line-height: 1.6em;
}

.profile-link {
  font: normal normal 78% Cuprum;
  text-transform: uppercase;
  letter-spacing: .1em;
}

/* Footer
----------------------------------------------- */

#footer-wrapper {
  text-align: center;
  background-color: #333;
}

#kredit {
  padding: 5px;
  background-color: #333;
  color: #FFF;
  overflow: hidden;
}

.botleft {
  float: left;
}

.botright {
  float: right;
}

img {
  max-width: 100%;
}

#footer-wrapper a:hover {
  color: #fff;
}

.foot-nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    float: left;
    padding-right: 10px;
    text-transform: lowercase;
  }
}

/* Page reload
----------------------------------------------- */

#outer-wrapper {
  opacity: 0;
  filter: alpha(opacity = 0);
}

#header-wrapper {
  margin-top: -145px;
}

#main-wrapper {
  margin-left: -100%;
}

#sidebar-wrapper {
  margin-right: -100%;
}

#jSplash {
  width: 400px;
  position: static;
  top: 40%;
  left: 100%;
  margin-left: 500px;
}

#ball, #ball-0, #ball-1 {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 11;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  background: #55606A;
  opacity: 0;
  filter: alpha(opacity = 0);
  -webkit-animation: jump 1s infinite forwards;
  -moz-animation: jump 1s infinite forwards;
  -ms-animation: jump 1s infinite forwards;
  -o-animation: jump 1s infinite forwards;
  animation: jump 1s infinite forwards;
}

#ball-0 {
  left: 20%;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#ball-1 {
  left: 80%;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes jump {
  0% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  50% {
    top: 140px;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {
    top: 160px;
    height: 14px;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    top: 120px;
    height: 16px;
    -webkit-animation-timing-function: ease-out;
  }
  95%, 100% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
}


@-moz-keyframes jump {
  0% {
    top: 0;
    -moz-animation-timing-function: ease-in;
  }
  50% {
    top: 140px;
    height: 16px;
    -moz-animation-timing-function: ease-out;
  }
  55% {
    top: 160px;
    height: 14px;
    -moz-animation-timing-function: ease-in;
  }
  65% {
    top: 120px;
    height: 16px;
    -moz-animation-timing-function: ease-out;
  }
  95%, 100% {
    top: 0;
    -moz-animation-timing-function: ease-in;
  }
}


@-o-keyframes jump {
  0% {
    top: 0;
    -o-animation-timing-function: ease-in;
  }
  50% {
    top: 140px;
    height: 16px;
    -o-animation-timing-function: ease-out;
  }
  55% {
    top: 160px;
    height: 14px;
    -o-animation-timing-function: ease-in;
  }
  65% {
    top: 120px;
    height: 16px;
    -o-animation-timing-function: ease-out;
  }
  95%, 100% {
    top: 0;
    -o-animation-timing-function: ease-in;
  }
}


@-ms-keyframes jump {
  0% {
    top: 0;
    -ms-animation-timing-function: ease-in;
  }
  50% {
    top: 140px;
    height: 16px;
    -ms-animation-timing-function: ease-out;
  }
  55% {
    top: 160px;
    height: 14px;
    -ms-animation-timing-function: ease-in;
  }
  65% {
    top: 120px;
    height: 16px;
    -ms-animation-timing-function: ease-out;
  }
  95%, 100% {
    top: 0;
    -ms-animation-timing-function: ease-in;
  }
}


@keyframes jump {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }
  50% {
    top: 140px;
    height: 16px;
    animation-timing-function: ease-out;
  }
  55% {
    top: 160px;
    height: 14px;
    animation-timing-function: ease-in;
  }
  65% {
    top: 120px;
    height: 16px;
    animation-timing-function: ease-out;
  }
  95%, 100% {
    top: 0;
    animation-timing-function: ease-in;
  }
}


.arrowLeft a {
  position: fixed;
  z-index: 100;
  left: -5px;
  top: 45%;
  padding: 25px 20px;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  &:hover {
    left: 0;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    color: #fff;
  }
}

.arrowRight a {
  position: fixed;
  z-index: 100;
  right: -5px;
  top: 45%;
  padding: 25px 20px;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  &:hover {
    right: 0;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    color: #fff;
  }
}

.arrowNav a {
  background: #000000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

#main-wrapper {
  padding: 10px 0 10px 10px;
}

.post-body {
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 160%;
  }
  h3 {
    font-size: 140%;
  }
  h4 {
    font-size: 130%;
  }
  h5 {
    font-size: 120%;
  }
  h6 {
    font-size: 110%;
  }
}

.isotope {
  -webkit-transition-duration: .8s;
  -moz-transition-duration: .8s;
  -ms-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: 0;
    -moz-transition-property: 0;
    -ms-transition-property: 0;
    -o-transition-property: top,left,opacity;
    transition-property: transform,opacity;
  }
}

#sidebar-wrapper {
  padding: 10px 10px 0 0;
  h2 {
    color: #363636;
    padding: 5px 0;
    margin: 0 0 10px;
    border-bottom: 4px solid #363636;
    text-transform: uppercase;
    font-size: 180%;
    position: relative;
  }
}

.sidebar .widget {
  background-color: #FFF;
  padding: 5px 10px;
  border: 1px solid #E0E0E0;
  -moz-box-shadow: 0 2px 4px #E7E7E7;
  -webkit-box-shadow: 0 2px 4px #E7E7E7;
  box-shadow: 0 2px 4px #E7E7E7;
}

#sidebar-wtengah {
  background-color: #FFF;
  padding: 5px 10px;
  border: 1px solid #E0E0E0;
  -moz-box-shadow: 0 2px 4px #E7E7E7;
  -webkit-box-shadow: 0 2px 4px #E7E7E7;
  box-shadow: 0 2px 4px #E7E7E7;
  .sidebar .widget {
    background-color: transparent;
    padding: 0;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .widget:last-child h2 {
    margin: 0;
    &.active {
      margin: 0 0 10px;
    }
  }
  .sidebar .widget {
    margin: 0 0 5px;
  }
  h2 {
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-width: 7px 6px;
      border-style: solid;
      border-color: #363636 transparent transparent;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: 9px;
    }
    &.active::after {
      border-color: transparent transparent #363636;
      margin-top: -9px;
    }
  }
}

.BlogArchive #ArchiveList ul li {
  padding: 0 0 0 15px;
}

#sidebar-wtengah h2 {
  border: 0;
  background-color: #EBEBEB;
  margin: 0;
  padding: 0 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  -moz-box-shadow: 0 0 3px #8F8D8D,inset 0 0 1px #FFF;
  -webkit-box-shadow: 0 0 3px #8F8D8D,inset 0 0 1px #FFF;
  box-shadow: 0 0 3px #8F8D8D,inset 0 0 1px #FFF;
}

.post {
  &:hover .datex {
    margin-left: 0px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .datex {
    position: absolute;
    top: 10px;
    padding: 3px 5px;
    left: 0;
    z-index: 5;
    background-color: #41B7D8;
    color: #FFF;
    height: 28px;
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -moz-box-shadow: 0 1px 3px #555454;
    -webkit-box-shadow: 0 1px 3px #555454;
    box-shadow: 0 1px 3px #555454;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -50px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    strong {
      font-weight: 700;
      font-size: 25px;
      line-height: 33px;
      display: block;
      float: left;
    }
    span, small {
      font-size: 10px;
      display: block;
      line-height: 10px;
      float: right;
      width: 50px;
      font-family: arial;
    }
  }
}

#search-form-feed {
  padding: 0;
  width: auto;
  float: right;
  margin-top: 3px;
  position: relative;
  margin-right: 5px;
  form {
    float: left;
    width: 0;
    overflow: hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  &:hover form {
    width: 250px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
}

.search-btn {
  width: 50px;
  height: 31px;
  background: url('http://developer.android.com/assets/images/icon_search.png') no-repeat;
  float: left;
  cursor: pointer;
}

#feed-q-input {
  display: block;
  width: 100%;
  height: 29px;
  color: #fff;
  margin: 0;
  border: 0;
  font-size: 15px;
  padding: 0 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: left;
  background: transparent;
  border-bottom: 1px solid #fff;
  &:focus {
    color: #333;
    outline: none;
  }
}

#search-result-container {
  width: 300px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  padding: 10px;
  right: 0;
  margin: 0;
  top: 42px;
  display: none;
  font-size: 11px;
  background: #FFF;
  text-transform: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  li {
    margin: 0 0 5px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    word-wrap: break-word;
    font: normal normal 10px Verdana,Geneva,sans-serif;
    color: #141414;
    background-color: #FFF;
    text-transform: none;
    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 11px;
      display: block;
      line-height: 14px;
      padding: 0;
      font-weight: 700;
    }
  }
  mark {
    background-color: #FF0;
    color: #000;
  }
  h4 {
    margin: 0 0 10px;
    font: normal bold 12px;
    color: #000;
  }
  ol {
    margin: 0 0 10px;
    padding: 0;
    overflow: hidden;
    height: 450px;
  }
  &:hover ol {
    overflow: auto;
  }
  li img {
    display: block;
    float: left;
    margin: 0 5px 1px 0;
    padding: 2px;
    border: 1px solid #D1D1D1;
  }
}

#search-result-loader {
  top: 100%;
  position: absolute;
  z-index: 999;
  width: 100%;
  line-height: 30px;
  color: #2E2E2E;
  padding: 0 10px;
  background-color: #FFF;
  border: 1px solid #DBDBDB;
  margin: 0;
  overflow: hidden;
  display: none;
  text-transform: capitalize;
}

#search-result-container {
  p {
    margin: 5px 0;
  }
  .close {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
    border-radius: 9999px;
    width: 13px;
    height: 13px;
    text-indent: 1px;
    background-color: #C20404;
    line-height: 12px;
  }
}

.loadingxx {
  width: 100%;
  min-height: 150px;
  background: transparent url(http://2.bp.blogspot.com/-PfP0K_VdDW0/UYl9oBf2atI/AAAAAAAAI-k/NL74VAi-oRw/s000/progress_ani.gif) no-repeat center;
  display: block;
  text-indent: -9999px;
}

.rcomnetxx {
  li {
    padding: 10px 0;
  }
  .kmtimg {
    float: left;
    margin: 0 5px 5px 0;
  }
  p {
    margin: 5px 0 0;
  }
  .ketkomt strong {
    display: block;
  }
  .date {
    font-size: 8px;
  }
}

@media only screen and (max-width: 1024px) {
  #outer-wrapper {
    width: 99%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 983px) {
  #outer-wrapper {
    width: 754px;
  }
  #main-wrapper {
    width: 60%;
  }
  #sidebar-wrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  #outer-wrapper {
    width: 500px;
  }
  #main-wrapper, #sidebar-wrapper {
    float: none;
    padding: 10px;
    width: 100%;
  }
  #search-form-feed {
    width: 90%;
    float: none;
    position: absolute;
    margin: 0;
    left: 5%;
    right: 5%;
    top: -35px;
  }
  #feed-q-input {
    float: none;
  }
  #search-result-container {
    width: 100%;
  }
  #header .description {
    padding-bottom: 30px;
  }
  #mobilenav {
    display: block;
    line-height: 35px;
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    color: #FFF;
  }
  #navinti {
    display: none;
    width: 90%;
    float: none;
    left: 5%;
    right: 5%;
    background-color: #202020;
    height: auto;
    position: absolute;
    -moz-box-shadow: 0 0 5px #494949;
    -webkit-box-shadow: 0 0 5px #494949;
    box-shadow: 0 0 5px #494949;
    li {
      display: block;
      float: none;
    }
    ul {
      width: 100%;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      position: relative;
    }
  }
  #mobilenav {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 7px 6px;
      border-style: solid;
      border-color: #FFF transparent transparent transparent;
      right: 10px;
      top: 60%;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 7px 6px;
      border-style: solid;
      border-color: #FFF transparent transparent transparent;
      right: 10px;
      top: 60%;
      border-color: transparent transparent #FFF transparent;
      top: 0;
    }
  }
}

@media only screen and (max-width: 499px) {
  #outer-wrapper {
    width: 430px;
  }
  .comments .comments-content .comment-replies {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 479px) {
  #outer-wrapper {
    width: 290px;
  }
}

@media only screen and (max-width: 290px) {
  #outer-wrapper {
    width: 100%;
  }
}




      .index .post {
          float: left;
          width: 45%;
          overflow: hidden;
          box-sizing: border-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          margin: 8px;
          box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
      }
      .index .post-header {
          padding: 16px;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
      }
      .index .post-avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
      }
      .index .post-header-text {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          max-height: 40px;
          text-align: left;
          padding-left: 21px;
          line-height: 1.4;
      }

      .index .md-title {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: .005em;
          font-size: 14px;

      }

      .index .md-subhead {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: .010em;
          line-height: 24px;
          color: rgba(0,0,0,0.54);
      }

      .index .post-footer {
          padding: .75em;
          color: #999;
          border: 0;
          border-top: 1px solid #c2c2c2;
          margin-top: 15px;
          background: #fafafa;
          box-shadow: none;
      }
